<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker Articles</title>
  </head>

  <body>
    <form action="/articles/new_post" method="post">
      <label for="article_title">Article Title:</label>
      <input type="text" id="article_title" name="article_title">

      <label for="article_url">Article URL:</label>
      <input type="text" id="article_url" name="article_url">

      <label for="article_description">Article Description:</label>
      <input type="text" id="article_description" name="article_description">

      <input type="submit" id="Submit" name="Submit">
    </form>
  </body>
</html>
